*~
*checkpoint.ipynb
*.gitignore
*.DS_Store
*dmoz*
*.o
Lectures/Topic17_Code_Optimization/fib.c
Lectures/Topic17_Code_Optimization/fib.cpp
Lectures/Topic17_Code_Optimization/fib.h
Lectures/Topic17_Code_Optimization/fib.hpp
Lectures/Topic17_Code_Optimization/fib.pxd
Lectures/Topic17_Code_Optimization/fib2.c
Lectures/Topic17_Code_Optimization/fib2.pyx
Lectures/Topic17_Code_Optimization/fib2.so
Lectures/Topic17_Code_Optimization/fib2cpp.cpp
Lectures/Topic17_Code_Optimization/fib2cpp.pyx
Lectures/Topic17_Code_Optimization/fib2cpp.so
Lectures/Topic17_Code_Optimization/mt.pxd
Lectures/Topic17_Code_Optimization/mt19937ar.c
Lectures/Topic17_Code_Optimization/mt19937ar.h
Lectures/Topic17_Code_Optimization/mt19937ar.out
Lectures/Topic17_Code_Optimization/mt19937ar.sep.tgz
Lectures/Topic17_Code_Optimization/mtTest.c
Lectures/Topic17_Code_Optimization/mt_random.c
Lectures/Topic17_Code_Optimization/mt_random.pyx
Lectures/Topic17_Code_Optimization/mt_random.so
Lectures/Topic17_Code_Optimization/readme-mt.txt
Lectures/Topic17_Code_Optimization/setup.py

