*~
*checkpoint.ipynb
*.gitignore
*.DS_Store
*dmoz*
*.o
*.Rhistory
*.gz
*Untitled.ipynb
Lectures/Topic17_Code_Optimization/fib.c
Lectures/Topic17_Code_Optimization/fib.cpp
Lectures/Topic17_Code_Optimization/fib.h
Lectures/Topic17_Code_Optimization/fib.hpp
Lectures/Topic17_Code_Optimization/fib.pxd
Lectures/Topic17_Code_Optimization/fib2.c
Lectures/Topic17_Code_Optimization/fib2.pyx
Lectures/Topic17_Code_Optimization/fib2.so
Lectures/Topic17_Code_Optimization/fib2cpp.cpp
Lectures/Topic17_Code_Optimization/fib2cpp.pyx
Lectures/Topic17_Code_Optimization/fib2cpp.so
Lectures/Topic17_Code_Optimization/mt.pxd
Lectures/Topic17_Code_Optimization/mt19937ar.c
Lectures/Topic17_Code_Optimization/mt19937ar.h
Lectures/Topic17_Code_Optimization/mt19937ar.out
Lectures/Topic17_Code_Optimization/mt19937ar.sep.tgz
Lectures/Topic17_Code_Optimization/mtTest.c
Lectures/Topic17_Code_Optimization/mt_random.c
Lectures/Topic17_Code_Optimization/mt_random.pyx
Lectures/Topic17_Code_Optimization/mt_random.so
Lectures/Topic17_Code_Optimization/readme-mt.txt
Lectures/Topic17_Code_Optimization/setup.py
Lectures/Topic17_Code_Optimization/array_2d
Lectures/Topic17_Code_Optimization/array_2d.c
Lectures/Topic17_Code_Optimization/hello
Lectures/Topic17_Code_Optimization/hello.c
Lectures/Topic17_Code_Optimization/pointers2
Lectures/Topic17_Code_Optimization/pointers2.c
Lectures/Topic17_Code_Optimization/ptr
Lectures/Topic17_Code_Optimization/ptr.c
Lectures/Topic17_Code_Optimization/by_ref
Lectures/Topic17_Code_Optimization/by_ref.c
Lectures/Topic17_Code_Optimization/by_val
Lectures/Topic17_Code_Optimization/by_val.c
Lectures/Topic17_Code_Optimization/Makefile
Lectures/Topic17_Code_Optimization/array_pointer
Lectures/Topic17_Code_Optimization/array_pointer.c
Lectures/Topic17_Code_Optimization/buggy.c
Lectures/Topic17_Code_Optimization/fib
Lectures/Topic17_Code_Optimization/increment
Lectures/Topic17_Code_Optimization/increment.c
Lectures/Topic17_Code_Optimization/main.c
Lectures/Topic17_Code_Optimization/pointers
Lectures/Topic17_Code_Optimization/pointers.c
Lectures/Topic17_Code_Optimization/pointers3
Lectures/Topic17_Code_Optimization/pointers3.c
Lectures/Topic17_Code_Optimization/sparkl
Lectures/Topic17_Code_Optimization/sparkl.c
Lectures/Topic17_Code_Optimization/square
Lectures/Topic17_Code_Optimization/square.c
Lectures/Topic17_Code_Optimization/square2
Lectures/Topic17_Code_Optimization/square2.c
Lectures/Topic17_Code_Optimization/stuff.c
Lectures/Topic17_Code_Optimization/stuff.h
Lectures/Topic17_Code_Optimization/test_make
Lectures/Topic17_Code_Optimization/test_make.c
Lectures/Topic17_Code_Optimization/test_make.dSYM/
Lectures/Topic18_Cython_and_Parallelism/c_fib.c
Lectures/Topic18_Cython_and_Parallelism/c_fib.h
Lectures/Topic18_Cython_and_Parallelism/ctypes_fib.so
Lectures/Topic18_Cython_and_Parallelism/cy_fib.c
Lectures/Topic18_Cython_and_Parallelism/cy_fib.pxd
Lectures/Topic18_Cython_and_Parallelism/cy_fib.pyx
Lectures/Topic18_Cython_and_Parallelism/cy_fib.so
Lectures/Topic18_Cython_and_Parallelism/fib.c
Lectures/Topic18_Cython_and_Parallelism/fib.cpp
Lectures/Topic18_Cython_and_Parallelism/fib.h
Lectures/Topic18_Cython_and_Parallelism/fib.hpp
Lectures/Topic18_Cython_and_Parallelism/fib.pxd
Lectures/Topic18_Cython_and_Parallelism/fib2.c
Lectures/Topic18_Cython_and_Parallelism/fib2.pyx
Lectures/Topic18_Cython_and_Parallelism/fib2.so
Lectures/Topic18_Cython_and_Parallelism/fib2cpp.cpp
Lectures/Topic18_Cython_and_Parallelism/fib2cpp.pyx
Lectures/Topic18_Cython_and_Parallelism/fib2cpp.so
Lectures/Topic18_Cython_and_Parallelism/flib.so
Lectures/Topic18_Cython_and_Parallelism/mt.pxd
Lectures/Topic18_Cython_and_Parallelism/mt19937ar.c
Lectures/Topic18_Cython_and_Parallelism/mt19937ar.h
Lectures/Topic18_Cython_and_Parallelism/mt19937ar.out
Lectures/Topic18_Cython_and_Parallelism/mt19937ar.sep.tgz
Lectures/Topic18_Cython_and_Parallelism/mtTest.c
Lectures/Topic18_Cython_and_Parallelism/mt_random.c
Lectures/Topic18_Cython_and_Parallelism/mt_random.pyx
Lectures/Topic18_Cython_and_Parallelism/mt_random.so
Lectures/Topic18_Cython_and_Parallelism/pdist_c.c
Lectures/Topic18_Cython_and_Parallelism/pdist_c.so
Lectures/Topic18_Cython_and_Parallelism/pdist_cpp.cpp
Lectures/Topic18_Cython_and_Parallelism/pdist_cpp.so
Lectures/Topic18_Cython_and_Parallelism/pdist_fortran.f90
Lectures/Topic18_Cython_and_Parallelism/readme-mt.txt
Lectures/Topic18_Cython_and_Parallelism/setup.py
Labs/Lab08/distributions.c
Labs/Lab08/distributions.h
Labs/Lab08/main
Labs/Lab08/main.c
Labs/Lab08/main.dSYM/
Labs/Lab08/makefile
Labs/Lab08/sum
Labs/Lab08/sum.c